body{
  color: #222831;
margin:0;
text-align: center;
font-family: 'Merriweather', serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem; /* 100% = 16px = 1em , so 90px = 562.5% = 5.625em */
  text-align: center;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
.ptechno{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;/* 16px = 1rem =100 % , so 40px = 2.5rem */
  font-weight: normal;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;/* 16px = 1rem =100 % , so 40px = 2.5rem */
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
.footer-link{
  color : #1e2022;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom:300px;
}
.skill-row{
  width: 50%;
  margin:60px auto;
  text-align: left;
  line-height: 2;
}
.harman{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.computer{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.hobby{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.click{
  color: #66BFBF;
  text-decoration: none;
}
.click:hover{
  color:Black;
}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
